PhoenixCraftModpack/minecraft/Saves
PhoenixCraftModpack/minecraft/Logs
PhoenixCraftModpack/minecraft/mods
PhoenixCraftModpack/Thumbs.db
PhoenixCraftModpack/minecraft/asm
PhoenixCraftModpack/minecraft/config/UniqueNames.txt
PhoenixCraftModpack/minecraft/scripts/Nieuw tekstdocument.txt
PhoenixCraftModpack/minecraft/options.txt
PhoenixCraftModpack/minecraft/minetweaker.log